/* Hero.module.css */

.left {
    order: 1;
}

.right {
    order: 2;
}

@media (max-width: 768px) {
    .left {
        order: 2;
    }

    .right {
        order: 1;
    }
}

.recta {
    width: 450px;
    height: 500px;
    border-radius: 0% 0% 50% 20% !important;
}

@media (max-width:800px) {
    .recta {
        width: 310px;
        height: 350px;
        border-radius: 0% 0% 50% 20% !important;
    }

    .lstImg {
        display: none;
    }

    .gappens {
        gap: 0;
        justify-content: center;
    }

    .flexonee {
        /* flex: 1; */
    }
}

.lstImg {
    position: absolute;
    right: 0;

}