/* Hero.module.css */

.left {
    order: 1;
}

.right {
    order: 2;
}

@media (max-width: 768px) {
    .left {
        order: 2;
    }

    .right {
        order: 1;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-top: 500px solid transparent;
    /* Set the height of the triangle */
    border-bottom: 500px solid transparent;
    /* Set the height of the triangle */
    border-right: 250px solid red;
    /* Set the width of the triangle and its color */
}