.fxbtn {
    bottom: 8.8rem;
    right: 10px;
}

.icon {
    width: 50px;
}

@media (max-width:800px) {
    .icon {
        width: 25px !important;
    }

    .fxbtn {
        bottom: 11.8rem;
        right: 10px;
    }
}